<nav class="navbar navbar-dark navbar-expand header-bg">
  <div class="container-fluid">
    <a class="navbar-brand" href="#" routerLink="/">
      <!--      <img src="/assets/badge.png" alt="Logo" width="30" height="30" class="d-inline-block align-text-top">-->
      PsGen
    </a>
    <button
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
      class="navbar-toggler"
      data-bs-target="#navbarSupportedContent"
      data-bs-toggle="collapse"
      type="button"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>
      <ul *ngIf="!loggedIn" class="navbar-nav d-flex">
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="/login">Login</a>
        </li>
      </ul>
      <ul *ngIf="loggedIn" class="navbar-nav d-flex">
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="/accounts">Accounts</a>
        </li>
        <!--<li class="nav-item">
          <a class="nav-link" href="#" routerLink="/accounts">Logout</a>
        </li>-->
      </ul>
    </div>
  </div>
</nav>
