<div class="sticky-top mb-3">
  <div class="d-flex">
    <div class="flex-grow-1"></div>
    <div><input class="form-control" type="search" placeholder="Search" aria-label="Search" [formControl]="search" (keyup)="searchQueryChanged()" (search)="searchQueryChanged()"></div>
  </div>
</div>
<div class="row row-cols-1 row-cols-sm-auto g-4">
  <div class="col" *ngFor="let account of accounts">
    <div class="card">
      <div class="card-body">
        <div class="d-flex">
          <div class="flex-grow-1"><h5 class="card-title">{{account.name}}</h5></div>
          <div class="text-secondary">{{account.category}}</div>
        </div>
        <div *ngIf="account.username" class="text-body mb-2">{{account.username}}</div>
        <div class="d-flex">
          <div class="flex-grow-1"></div>
          <div class="btn btn-outline-danger btn-sm me-2" (click)="deleteAccount(account.id)">Delete</div>
          <div class="btn btn-outline-secondary btn-sm me-2" (click)="editAccount(account.id)">Edit</div>
          <div class="btn btn-outline-primary btn-sm" (click)="generatePassword(account)">Get Password</div>
        </div>
      </div>
    </div>
  </div>
</div>
